:root {
    --basic-color: rgb(38, 193, 159);
    --standard-color: rgb(221, 183, 87);
    --premium-color: rgb(120, 82, 175);
}

* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

body {
    background: #dff2f6;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    padding: 10px;
    display: flex;
}

.section {
    background: white;
    width: 300px;
    margin: 10px;
    border-radius: 10px;
}

.section .price {
    text-align: center;
    padding: 30px;
}

.section .price .span_2 {
    font-size: 35px;
}

.section .price .span_1 {
    font-size: 25px;
    position: relative;
    top: -12px;
    right: -5px;
}

.section .ribbons p {
    color: white;
    width: 120px;
    padding: 15px;
    text-transform: capitalize;
    text-align: center;
    font-size: 18px;
    border-radius: 0 10px 10px 0;
}

.basic .ribbons p {
    background: var(--basic-color);
}

.standard .ribbons p {
    background: var(--standard-color);
}

.premium .ribbons p {
    background: var(--premium-color);
}

.section .ribbons .triangle {
    width: 0;
    height: 0;
    border-left: solid 10px transparent;
    border-bottom: solid 10px;
}

.basic .ribbons .triangle {
    border-bottom: solid 10px rgb(2, 109, 86);
}

.standard .ribbons .triangle {
    border-bottom: solid 10px rgb(150, 125, 61);
}

.premium .ribbons .triangle {
    border-bottom: solid 10px rgb(77, 53, 110);
}

.section .ribbons {
    position: relative;
    left: -10px;
}

.section .item {
    padding: 15px;
    text-align: center;
    text-transform: capitalize;
}

.section .button {
    display: flex;
    justify-content: center;
    padding: 35px;
}

.section .button input {
    color: white;
    width: 120px;
    height: 35px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: 600;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.basic .button input{
    background: var(--basic-color);
}

.basic .button input:hover{
    background: rgb(27, 135, 112);
}

.standard .button input{
    background: var(--standard-color);
}

.standard .button input:hover {
    background: rgb(155, 128, 61);
}

.premium .button input{
    background: var(--premium-color);
}

.premium .button input:hover {
    background: rgb(73, 50, 104);
}

.standard{
    position: relative;
    top: 30px;
}

.premium{
    position: relative;
        top: 60px;
}